* {
    box-sizing: border-box;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px 40px;
}

.secret-content-section {
    display: none;
}

.hidden {
    display: none;
}